<!-- ************** -->
<!-- ** CONTAINER ** -->

<section class="container">

  <h1 class="title">Gestión Renococimiento de Abono</h1>

  <!-- ************* -->
  <!--SEARCH-->

  <div class="form-group">
   
      <mat-form-field appearance="none"
      class="input-search">
      <input matInput placeholder="Buscar documento por rut, id o fecha" 
      [(ngModel)]="busqueda" />
      </mat-form-field>
      <mat-icon class="icon-search">search</mat-icon>
 
  </div>

  <br>
  
  <!-- ************* -->
  <!-- TAB 1 -->

  <mat-tab-group>

    <mat-tab label="ABONADO">

      <mat-expansion-panel class="panel success-panel unsubscriber-panel">
      
        <mat-expansion-panel-header>
          
          <mat-panel-title>
            <span class="title-panel">Nombre de Cliente </span> 
            : Eloy Corredores...
          </mat-panel-title>
          <mat-panel-title>
            <span class="title-panel">RUT</span>
            : 13.258.639-K
          </mat-panel-title>
          <mat-panel-title >
            <span class="title-panel">Monto</span>
            : $60.000.000.002
          </mat-panel-title>
          
        </mat-expansion-panel-header>
  
        <mat-expansion-panel class="sub-panel" hideToggle>
        
          <mat-expansion-panel-header class="data">
            <mat-panel-title>
              <span class="title-panel">id. transacción </span> : BCAMOVIL01202...
            </mat-panel-title>
            <mat-panel-title>
              <span class="title-panel">Fecha y Hora</span> : 12/03/2021  12:24
            </mat-panel-title>
            <mat-panel-title>
              <span class="title-panel">Banco de Origen</span>: Santander
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          
        </mat-expansion-panel>
  
        <br>

        <!-- STEPPER CARD -->

        

      </mat-expansion-panel>
      
  </mat-tab>
    
    <!-- ************* -->
    <!-- TAB 2 ANULADO -->

    <mat-tab label="ANULADO">

        <mat-expansion-panel class="panel unsubscriber-panel">
        
          <mat-expansion-panel-header>
            
            <mat-panel-title>
              <span class="title-panel">Nombre de Cliente </span> 
              : Eloy Corredores De Bolsa De Productos S.A.
            </mat-panel-title>
            <mat-panel-title>
              <span class="title-panel">RUT</span>
              : 13.258.639-K
            </mat-panel-title>
            <mat-panel-title >
              <span class="title-panel">Monto</span>
              : $60.000.000.002
            </mat-panel-title>
            
          </mat-expansion-panel-header>
    
          <mat-expansion-panel class="sub-panel" hideToggle>
          
            <mat-expansion-panel-header class="data">
              <mat-panel-title>
                <span class="title-panel">id. transacción </span> : BCAMOVIL012020072807028993410
              </mat-panel-title>
              <mat-panel-title>
                <span class="title-panel">Fecha y Hora</span> : 12/03/2021  12:24
              </mat-panel-title>
              <mat-panel-title>
                <span class="title-panel">Banco de Origen</span>: Santander
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            
          </mat-expansion-panel>
    
          <br>

         <!-- STEPPER CARD -->

        <mat-card style="background-color: #FFF;">
          <div class="stepper">

            <mat-icon class="icon">check_circle</mat-icon>
      
            <mat-card class="subscriber">
              <div class="status"> 
                <h1>Aprobado</h1>  <span> 20/02/2021 12:30pm </span>
              </div>
            </mat-card>

            <mat-icon class="icon2">block</mat-icon>
      
            <mat-card class="subscriber">
              <div class="status"> 
                <h1>Anulado</h1>  <span> 20/02/2021 12:30pm </span>
              </div>
            </mat-card>
  
          </div>
        </mat-card>


        </mat-expansion-panel>

    </mat-tab>
    
  </mat-tab-group>

  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  
</section><!-- END SECTION-->
